/* 1. Animation */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
//Pre-Loader End

//Animation Start
.float-bob-y {
    -webkit-animation-name: float-bob-y;
    animation-name: float-bob-y;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes float-bob-y {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes float-bob-y {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-30px);
    }
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%)translateY(-50%)translateZ(0)scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%)translateY(-50%)translateZ(0)scale(1.5);
        opacity: 0;
    }
}
//Animation End