/* 5. Banner */
.banner__section{
    background: url(../img/banner/main-bg.png) no-repeat center center;
    background-size: cover;
    &::before{
        position: absolute;
        left: -4px;
        bottom: -18px;
        content: "";
        height: 80px;
        width: 135px;
        background-color: var(--white);
        transform: rotate(4deg);
        display: none;
        @include breakpoint(lg){
            display: block;
            height: 65px;
        }
        @include breakpoint(xl){
            height: 80px;
        }
        @include breakpoint(xxl){
            bottom: -8px;
            width: 163px;
        }
        @include breakpoint(xxxl){
            bottom: -8px;
            width: 200px;
            height: 90px;
        }
    }
    .shape__right{
        position: absolute;
        right: 0;
        bottom: 0;
        img{
            @include imgw;
        }
        @include breakpoint(max-lg){
           display: none;
        }
    }
    .grad__shape{
        position: absolute;
        bottom: 0;
        left: 0;
        img{
            @include imgw;
            @include breakpoint(lg){
                width: 60%;
            }
            @include breakpoint(xl){
               width: 68%;
            }
            @include breakpoint(xxl){
                width: 81%;
            }
            @include breakpoint(xxxl){
                width: 91%;
            }
            @include breakpoint(x4l){
                width: 100%;
            }
        }
        @include breakpoint(xl){
            left: 0;
        }
        @media screen and (max-width: 1300px) {
        //    left: -165px;
        }
        @include breakpoint(max-lg){
            display: none;
        }
    }
    .vector__shape{
        position: absolute;
        bottom: 0;
        right: 0;
        @include breakpoint(max-md){
            display: none;
        }
    }
    .banner__wrap{
        padding-top: 150px;
        padding-bottom: 100px;
        @include breakpoint(md){
            padding-top: 200px;
            padding-bottom: 100px;
         }
        @include breakpoint(lg){
            padding-top: 250px;
            padding-bottom: 106px;
        }
        @include breakpoint(xl){
            padding-bottom: 186px;
        }
        @include breakpoint(xxl){
            padding-bottom: 164px;
        }
        @include breakpoint(xxxl){
            padding-bottom: 157px;
        }
    }
    .banner__content{
        @include breakpoint(xl){
            margin-left: 50px;
        }
        .box__shape{
            gap: 25px;
            img{
                @include breakpoint(max-sm){
                    display: none !important;
                }
            }
            h4{
                position: relative;
                &::before{
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    width: 60px;
                    border: 2px solid var(--theme2);
                    content: "";
                }
                span{
                    color: var(--theme2);
                }
            }
        }
        h1{
            @include breakpoint(max-xxl){
                font-size: 62px;
            }
            @include breakpoint(max-xl){
                font-size: 53px;
            }
            @include breakpoint(max-sm){
                font-size: 42px;
            }
            span{
                color: var(--theme2);
            }
        }
    }
    .banner__thumb{
        position: absolute;
        top: 177px;
        right: -92px;
        max-width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
        @include breakpoint(lg){
            top: 156px;
        }
        @include breakpoint(xl){
            right: 0px;
            max-width: 65%;
            top: 172px;
        }
        @include breakpoint(xxxl){
            max-width: 60%;
        }
        @include breakpoint(max-x4l){
            // right: 160px;
        }
        @include breakpoint(max-xxxl){
            // right: 100px;
            width: 800px;
            height: 770px;
        }
        @include breakpoint(max-xl){
            width: 640px;
            height: 615px;
            right: 0;
        }
        @include breakpoint(max-lg){
            display: none;
        }
    }
}
.banner__two{
    background: url(../img/banner/banner-bg.png) no-repeat center center;
    background-size: cover;
    &::before{
        display: none;
    }
    .shape__right{
        position: absolute;
        bottom: -75px;
        right: -50px;
        img{
            @include imgw;
        }
        @include breakpoint(max-x4l){
           right: -310px;
        }
        @include breakpoint(max-xxxl){
           bottom: -185px;
         }
        @include breakpoint(max-xl){
           display: none;
        }
    }
    .banner__content{
        padding: 150px 0 50px 0;
        @include breakpoint(xsmall){
            padding: 200px 0 100px 0
        }
        @include breakpoint(md){
            padding: 250px 0;
        }
        @include breakpoint(lg){
            padding: 100px 0 200px 0;
        }
       
        .box__shape{
            h4{
                color: var(--white);
                margin-bottom: 15px;
            }
        }
        h1{
            color: var(--white);
            margin-bottom: 20px;
        }
        p{
            color: var(--white);
        }
        .cmn--btn{
            background-color: #1cb0eb;
        }
    }
    .banner__thumb {
        position: relative;
        width: initial;
        height: initial;
        top: 160px;
        right: 187px;
        @include breakpoint(lg){
           right: 275px;
        }
        @include breakpoint(xl){
            right: 275px;
        }
        @include breakpoint(xxl){
            right: 187px;
        }
       
    }
}
//--Banner Section End--//

//--Breadcumd Section Start--//
.breadcumd__banner{
    background: url(../img/inner/bg.png) no-repeat center center;
    background-size: cover;
    padding: 250px 0;
    .breadcumd__wrapper{
        position: relative;
        .breadcumd__items{
            gap: 24px;
            ul{
                @include flex;
                gap: 10px;
                position: relative;
                &::before{
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    content: "";
                    height: 1px;
                    width: 60px;
                    background-color: var(--theme2);
                }
                li{
                    font-size: 16px;
                    color: var(--white);
                    font-weight: 500;
                    i{
                        font-size: 15px;
                    }
                    a{
                        color: var(--white);
                    }
                }
            }
        }
        .breadcumd__content{
            color: var(--white);
            @include breakpoint(max-xxl){
                font-size: 66px;
            }
            @include breakpoint(max-lg){
                font-size: 48px;
            }
            @include breakpoint(max-sm){
                font-size: 32px;
            }
        }
    }
    .about__shape{
        position: absolute;
        bottom: -18px;
        right: 0;
        img{
            @include imgw;
        }
    }
}
.about__bg{
    background: url(../img/about/about-inner-bg.png) no-repeat center center;
    background-size: cover;
}
.single__bg{
    background: url(../img/banner/blog-single-bg.png) no-repeat center center;
    background-size: cover;
    .grad__shape{
        position: absolute;
        bottom: -17px;
        right: 0;
        img{
            @include imgw;
        }
    }
}
//--Breadcumd Section End--//