/* 5. Banner */
.banner__section{
    background: url(../img/banner/main-bg.png) no-repeat center center;
    background-size: cover;
    &::before{
        position: absolute;
        left: -4px;
        bottom: -18px;
        content: "";
        height: 80px;
        width: 135px;
        background-color: var(--white);
        transform: rotate(4deg);
        display: none;
        @include breakpoint(lg){
            display: block;
            height: 65px;
        }
        @include breakpoint(xl){
            height: 80px;
        }
        @include breakpoint(xxl){
            bottom: -8px;
            width: 163px;
        }
        @include breakpoint(xxxl){
            bottom: -8px;
            width: 200px;
            height: 90px;
        }
    }
    .shape__right{
        position: absolute;
        right: 0;
        bottom: 0;
        img{
            @include imgw;
        }
        @include breakpoint(max-lg){
           display: none;
        }
    }
    .grad__shape{
        position: absolute;
        bottom: 0;
        left: 0;
        img{
            @include imgw;
            @include breakpoint(lg){
                width: 60%;
            }
            @include breakpoint(xl){
               width: 68%;
            }
            @include breakpoint(xxl){
                width: 82%;
            }
            @include breakpoint(xxxl){
                width: 91%;
            }
            @include breakpoint(x4l){
                width: 100%;
            }
        }
        @include breakpoint(xl){
            left: 0;
        }
        @media screen and (max-width: 1300px) {
        //    left: -165px;
        }
        @include breakpoint(max-lg){
            display: none;
        }
    }
    .vector__shape{
        position: absolute;
        bottom: 0;
        right: 0;
        @include breakpoint(max-md){
            display: none;
        }
    }
    .banner-thum{
        overflow: hidden;
        img{
            @include imgw;
            transform: scale(1.15);
            transition: 4s;
        }
        padding-top: 170px;
        @include breakpoint(max-md){
            display: none;
        }
        @include breakpoint(md){
            padding-top: 72px;
            
        }
        @include breakpoint(lg){
            padding-top: 155px;
            
        }
        @include breakpoint(xl){
            padding-top: 172px;   
        }
        @include breakpoint(xxl){
            padding-left: 100px;   
        }
    }
    .banner__content{
        padding-top: 150px;
        padding-bottom: 50px;
        @include breakpoint(md){
            padding-top: 100px;
            padding-bottom: 0px;
        }
        @include breakpoint(xl){
            margin-left: 50px;
        }
        .box__shape{
            gap: 25px;
            > div:nth-child(1) {
                @include breakpoint(max-sm){
                    display: none !important;
                }
            }
            img{
                max-width: 100% !important;
            }
            h4{
                position: relative;
                &::before{
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    width: 60px;
                    border: 1px solid var(--theme2);
                    content: "";
                }
                span{
                    color: var(--theme2);
                }
            }
        }
        h1{
            font-size: 42px;
            @include breakpoint(sm){
                font-size: 53px;
            }
            @include breakpoint(md){
                font-size: 42px;
            }
            @include breakpoint(lg){
                font-size: 58px;
            }
            @include breakpoint(xl){
                font-size: 62px;
            }
            @include breakpoint(xxl){
                font-size: 84px;
            }
            span{
                color: var(--theme2);
            }
        }
    }
    .slide-active{
        .owl-item.active{
            .box__shape{
                animation: fadeInUpSlide  ease 1s both;
                animation-delay: 0.7s;
            }
            .banner__content{
                h1{
                    animation: fadeInUpSlide  ease 1s both;
                    animation-delay: 1.1s;
                }
            }
            .banner__button{
                animation: fadeInUpSlide  ease 1s both;
                animation-delay: 2.3s;
            }
            .banner-thum{
                img{
                    transform: scale(1);
                }
            }
        }
        &.owl-carousel, .owl-carousel .owl-item {
            position: static;
        }
        .owl-nav button {
            position: absolute;
            top: 50%;
            left: 30px;
            z-index: 2;
            transform: translatey(-50%);
            width: 72px;
            height: 136px;
            background-color: var(--theme) !important;
            transition: .3s;
            &:hover{
                background-color: var(--theme2) !important;
            }
            i{
                color: var(--white);
                font-size: 22px;
            }
            @include breakpoint(max-xl){
                left: 0;
                opacity: 0;
            }
            @include breakpoint(xl){
                left: 15px;
            }
            @include breakpoint(xxxl){
                left: 30px;
            }
            &.owl-next {
                left: auto;
                right: 30px;
                @include breakpoint(max-xl){
                    right: 0;
                    opacity: 0;
                }
                @include breakpoint(xl){
                    right: 15px;
                }
                @include breakpoint(xxxl){
                    right: 30px;
                }
            }
        }
    }   
}
@keyframes fadeInUpSlide {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Start below the original position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}
.banner__two{
    background: url(../img/banner/banner-bg.png) no-repeat center center;
    background-size: cover;
    &::before{
        display: none;
    }
    .shape__right{
        position: absolute;
        bottom: -75px;
        right: -50px;
        img{
            @include imgw;
        }
        @include breakpoint(max-x4l){
           right: -310px;
        }
        @include breakpoint(max-xxxl){
           bottom: -185px;
         }
        @include breakpoint(max-xl){
           display: none;
        }
    }
    .banner__content{
        padding: 150px 0 50px 0;
        @include breakpoint(xsmall){
            padding: 200px 0 100px 0
        }
        @include breakpoint(md){
            padding: 250px 0;
        }
        @include breakpoint(lg){
            padding: 100px 0 200px 0;
        }
       
        .box__shape{
            h4{
                color: var(--white);
                margin-bottom: 15px;
            }
        }
        h1{
            color: var(--white);
            margin-bottom: 20px;
        }
        p{
            color: var(--white);
        }
        .cmn--btn{
            background-color: #1cb0eb;
        }
    }
    .banner__thumb-2 {
        position: relative;
        width: initial;
        height: initial;
        top: 160px;
        right: 187px;
        display: none;
        @include breakpoint(lg){
           right: 275px;
           display: block;
        }
        @include breakpoint(xl){
            right: 275px;
        }
        @include breakpoint(xxl){
            right: 187px;
        }
       
    }
}
//--Banner Section End--//

//--Breadcumd Section Start--//
.breadcumd__banner{
    background: url(../img/inner/bg.png) no-repeat center center;
    background-size: cover;
    @include breakpoint(max-md){
        padding-top: 150px;
        padding-bottom: 100px;
    }
    @include breakpoint(md){
        padding-top: 200px;
        padding-bottom: 130px;
    }
    @include breakpoint(lg){
        padding-top: 300px;
        padding-bottom: 145px;
    }
    @include breakpoint(xxl){
        padding-top: 300px;
        padding-bottom: 250px;
    }
    .breadcumd__wrapper{
        position: relative;
        .breadcumd__items{
            gap: 24px;
            ul{
                @include flex;
                gap: 10px;
                position: relative;
                &::before{
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    content: "";
                    height: 1px;
                    width: 60px;
                    background-color: var(--theme2);
                }
                li{
                    font-size: 16px;
                    color: var(--white);
                    font-weight: 500;
                    i{
                        font-size: 15px;
                    }
                    a{
                        color: var(--white);
                    }
                }
            }
        }
        .breadcumd__content{
            color: var(--white);
            @include breakpoint(max-xxl){
                font-size: 66px;
            }
            @include breakpoint(max-lg){
                font-size: 48px;
            }
            @include breakpoint(max-sm){
                font-size: 32px;
            }
        }
    }
    .about__shape{
        position: absolute;
        bottom: -18px;
        right: 0;
        img{
            @include imgw;
        }
    }
    &.single__bg{
        background: url(../img/banner/blog-single-bg.png) no-repeat center center;
        background-size: cover;
        .shape-2{
            position: absolute;
            right: -2px;
            bottom: -9px;
            width: 74px;
            height: 57px;
            background: #f2f1fc;  
            transform: rotate(-2deg);
            @include breakpoint(max-md){
                display: none;
            }             
        }
        .shape-3{
            position: absolute;
            right: -2px;
            bottom: -8px;
            width: 74px;
            height: 56px;
            background: #f2f1fc;  
            transform: rotate(-2deg);
            @include breakpoint(max-md){
                display: none;
            }             
        }
        .grad__shape{
            position: absolute;
            bottom: -17px;
            right: 0;
        }
    }
    &.about__bg{
        background: url(../img/about/about-inner-bg.png) no-repeat center center;
        background-size: cover;
        .shape-2{
            position: absolute;
            right: -2px;
            bottom: -9px;
            width: 74px;
            height: 57px;
            background: var(--white);  
            transform: rotate(-2deg);
            @include breakpoint(max-md){
                display: none;
            }             
        }
        .grad__shape{
            position: absolute;
            bottom: -17px;
            right: 0;
        }
    }
}



//--Breadcumd Section End--//