/* 15. Blog */
.blog__section{
    background-color: #f2f1fc;
    .grad__shape{
        position: absolute;
        bottom: -15px;
        right: 0;
        img{
            @include imgw;
        }
    }
    .left__shape{
        position: absolute;
        top: -49%;
        left: -20%;
        @include breakpoint(max-lg){
            display: none;
        }
        @include breakpoint(xl){
            top: -44%;
            left: -17%;
        }
        @include breakpoint(xxl){
            top: -42%;
            left: -14%;
        }
        @include breakpoint(xxxl){
            left: -7%;
        }
        @include breakpoint(x4l){
            left: 0;
            top: -45%;
        }
        img{
            @include imgw;
        }
    }
    .left__shape_3{
        position: absolute;
        top: -58%;
        left: -20%;
        @include breakpoint(max-lg){
            display: none;
        }
        @include breakpoint(xl){
            top: -53%;
            left: -17%;
        }
        @include breakpoint(xxl){
            top: -51%;
            left: -14%;
        }
        @include breakpoint(xxxl){
            left: -7%;
        }
        @include breakpoint(x4l){
            left: 0;
            top: -54%;
        }
        img{
            @include imgw;
        }
    }
    .right__shape{
        position: absolute;
        bottom: 153px;
        right: 80px;
        @include breakpoint(max-xxxl){
            bottom: 60px;
            right: 3px;
        }
        @include breakpoint(max-xl){
            display: none;
        }
    }
    .left__shape__two{
        position: absolute;
        left: 10%;
        top: 25%;
    }
    .bottom__shape{
        position: absolute;
        left: 0;
        bottom: 0;
        img{
            @include imgw;
        }
    }
    .section__title{
        .sub{
            color: var(--theme);
        }
    }
    .blog__items{
        z-index: 99;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 79%, 79% 100%, 0 100%, 0% 80%, 0% 20%);
        padding-bottom: 30px;
        @include breakpoint(max-md){
           clip-path: initial
        }
        .blog__thumb{
            img{
                @include imgw;
            }
        }
        .blog__content{
            padding: 40px 50px;
            background-color: var(--white);
            margin: -150px auto 0;
            z-index: 1;
            position: relative;
            width: calc(100% - 100px);
            filter: drop-shadow(0px 0px 20px rgba(0, 22, 89, 0.1));
            @include breakpoint(max-md){
                   margin: 0 auto ;
                   width: initial;
                   padding: 40px 40px;
            }
            .date{
                position: absolute;
                top: -83px;
                left: 50px;
                filter: drop-shadow(0px 0px 20px rgba(255, 94, 20, 0.5));
                @include breakpoint(max-sm){
                    top: -70px;
                }
                .box{
                    width: 100px;
                    height: 100px;
                    background-color: var(--theme2);
                    text-align: center;
                    padding: 10px 0;
                    position: relative;
                    z-index: 1;
                    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 75%, 75% 100%, 0 100%, 0% 80%, 0% 20%);
                    @include breakpoint(max-sm){
                        width: 85px;
                        height: 85px;
                    }
                    h2{
                        color: var(--white);
                    }
                    p{
                        color: var(--white);
                        font-weight: 400;
                        line-height: 0;
                        margin-top: 5px;
                    }
                }
            }
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 4px;
                height: 135px;
                background-color: var(--theme2);
            }
            h3{
                margin-bottom: 20px;
                a{
                    @include transition;
                    &:hover{
                        color: var(--theme2);
                    }
                }
            }
            .cmn__btn2{
                position: relative;
                &::before{
                    position: absolute;
                    top: -13px;
                    left: 0;
                    content: "";
                    width: 45px;
                    height: 1px;
                    background-color: var(--theme2)
                }
                a{
                    font-size: 16px;
                    font-weight: 600;
                    @include transition;
                    &:hover{
                        color: var(--theme2);
                    }
                }
            }
        }
    }
}
.blog__two{
    .left__shape{
        top: -17%;
        left: -14%;
        @include breakpoint(xl){
            top: -16%;
            left: -12%;
        }
        @include breakpoint(xxxl){
            left: -6%;
        }
        @include breakpoint(x4l){
            left: 0;
        }
    }
    .left__shape_2{
        position: absolute;
        top: -22%;
        left: -15%;
        @include breakpoint(xl){
            top: -20%;
            left: -13%;
        }
        @include breakpoint(xxl){
            top: -19%;
            left: -12%;
        }
        @include breakpoint(xxxl){
            left: -6%;
        }
        @include breakpoint(x4l){
            top: -20%;
            left: 0;
        }
    }
    .left__shape_3{
        position: absolute;
        top: -20%;
        left: -14%;
        @include breakpoint(xl){
            top: -19%;
            left: -12%;
        }
        @include breakpoint(xxl){
            top: -18%;
        }
        @include breakpoint(xxxl){
            left: -6%;
        }
        @include breakpoint(x4l){
            top: -18%;
            left: 0;
        }
    }
}
//--Blog Section End--//

//--Pagination Start--//
.default__pagination{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    .clip-path{
        width: fit-content;
        background: #a9afcb;
        border: 2px solid #a9afcb;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 0 100%, 0% 80%, 0% 20%);
        transition: all 0.4s;
        h6{
            font-size: 14px;
            font-weight: 600;
        }
        a{
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            transition: all 0.4s;
            font-weight: 500;
            color: var(--theme);
            font-family: "Poppins", sans-serif;
            display: inline-block;
            background: #f2f1fc;
            clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 0 100%, 0% 80%, 0% 20%);
        }
        &:hover{
            background-color: var(--theme2);
            border-color: var(--theme2);
        }
        &:hover a{
            background-color: var(--theme2);
            color: var(--white);
        }
    }
}
//--Pagination End--//

//--Blog Single Start--//
.blog__single{
    .blog__thumb{
        img{
            @include imgw;
        }
    }
    .blog__single__content{
        background-color: var(--white);
        padding: 30px 50px;
        .title__cont{
            gap: 20px;
            border-bottom: 1px solid #d9dce4;
            padding: 0 0 23px;
            h6{
                @include bodyfont;
            }
            span{
                color: #565969;
                font-size: 16px;
                @include bodyfont;
                i{
                    color: var(--theme2);
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
        }
        .cont__item{
            padding: 30px 0;
            gap: 30px;
            @include breakpoint(max-lg){
                flex-wrap: wrap;
            }
            .titles{
                width: 80px;
                height: 80px;
                line-height: 80px;
                background-color: var(--theme2);
                text-align: center;
                clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 86%, 90% 100%, 0 99%, 0% 80%, 0% 20%);
                padding: 0 20px 0;
                h2{
                    font-size: 58px;
                    color: var(--white);
                }
            }
        }
        .pra__text{
            border-bottom: 1px solid #d9dce4;
        }
        .tag{
            gap: 10px;
            border-top: 1px ;
            .clip-path{
                width: fit-content;
                background: #d9dce4;
                border: 2px solid #d9dce4;
                clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);
                h6{
                    font-size: 14px;
                    font-weight: 600;
                }
                a{
                    padding: 8px 20px;
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--theme);
                    font-family: "Poppins", sans-serif;
                    display: inline-block;
                    background: white;
                    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);
                }
            }
        }
    }
    .blog__profile{
        padding: 30px 25px;
        gap: 30px;
        border-bottom: 2px solid var(--theme2);
        clip-path: polygon(0 0, 100% 0, 100% 84%, 95% 100%, 0 100%, 0% 60%, 0 21%);
        @include breakpoint(max-sm){
            flex-wrap: wrap;
        }
        .profile__content{
            p{
                font-size: 15px;
            }
        }

    }
    .comments__wrap{
        .comments__items{
            gap: 40px;
            border-bottom: 1px solid #d9dce4;
            padding: 45px 0;
            @include breakpoint(max-sm){
                flex-wrap: wrap;
            }
            .reply{
                position: absolute;
                right: 0;
                top: 186px;
                font-size: 13px;
                font-weight: 500;
                color: var(--theme);
                @include breakpoint(sm){
                    top: 50px;
                }
                i{
                    font-size: 13px;
                    color: var(--theme2);
                    margin-right: 4px;
                }
            }
            .comments__content{
                p {
                    font-size: 15px;
                    br{
                        @include breakpoint(max-md){
                            display: none;
                        }
                        @include breakpoint(lg){
                            display: none;
                        }
                        @include breakpoint(xl){
                            display: block;
                        }
                    }
                }
                .head__wrap{
                    margin-bottom: 15px;
                    h5{
                        font-size: 20px;
                        span{
                            font-size: 13px;
                            margin-left: 14px;
                            color: var(--theme2);
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
    .comt__title{
        position: relative;
        margin-bottom: 110px;
        &::before{
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 182px;
            height: 1px;
            content: "";
            background-color: var(--theme2);
        }
    }
    .contact__right{
        .form__clt_2{
            input{
                width: 100%;
                outline: none;
                border: none;
                padding: 20px 0;
                background: transparent;
                color: var(--pra2);
                border-bottom: 1px solid #d9dce4;
                font-size: 16px;
                @include breakpoint(max-xl){
                    font-size: 14px;
                }
                &:focus{
                    border-color: var(--theme2);
                }
            }
         }
         .form__clt__big_2{
            textarea{
                padding: 20px 0 70px;
                width: 100%;
                outline: none;
                border: none;
                color: var(--pra2);
                border-bottom: 1px solid #d9dce4;
                background-color: transparent;
                @include breakpoint(max-xl){
                    font-size: 14px;
                }
                &:focus{
                    border-color: var(--theme2);
                }
            }
          }
    }
}
.sidebar__right{
    .sidebar__items{
        padding: 40px 40px;
        filter: drop-shadow(0px 0px 40px rgba(0, 22, 89, 0.1));
        .shape{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .widget__tittle{
            position: relative;
            margin-bottom: 40px;
            &::before{
                position: absolute;
                bottom: -15px;
                left: 0;
                width: 48px;
                height: 1px;
                content: "";
                background-color: var(--theme2);
            }
        }
        .sidebar__widget{
            .recent__wrap{
                gap: 25px;
                &:last-child{
                    margin-bottom: 12px;
                }
                .recent__content{
                    h6{
                        line-height: 160%;
                        a{
                            @include transition;
                            &:hover{
                                color: var(--theme2);
                            }
                        }
                    }
                }
            }
            .category__list{
                li{
                    padding: 18px 0;
                    &:not(:last-child){
                        border-bottom: 1px solid #edeff2;
                    }
                    a{
                        @include transition;
                        color: var(--theme);
                        font-size: 15px;
                        font-weight: 400;
                        @include headfont;
                        i{
                            color: var(--theme2);
                            margin-right: 4px;
                            font-size: 14px;
                        }
                        &:hover{
                            color: var(--theme2);
                        }
                    }
                }
            }
            .tag__list{
                @include flex;
                flex-wrap: wrap;
                li{
                    margin: 0 8px 8px 0;
                    a{
                        font-size: 14px;
                        display: inline-block;
                        padding: 5px 18px;
                        color: var(--theme);
                        border: 1px solid #edeff2;
                        border-radius: 5px;
                        font-weight: 600;
                        transition: all 0.3s;
                        &:hover{
                            background-color: var(--theme2);
                            color: var(--white);
                        }
                    }
                }
            }
            .side__icon{
                gap: 10px;
                border-bottom: 1px solid #edeff2;
                padding: 0 0 20px;
                .content{
                    font-size: 13px;
                    a{
                        color: var(--theme);
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            color: var(--theme2);
                        }
                    }
                }
            }
        }
    }
}
//--Blog Single End--//