/* 11. Client */
.client__section{
    background: url(../img/client/client.jpg) no-repeat center center;
    background-size: cover;
    .grad__shape__three{
        position: absolute;
        right: 0;
        bottom: -15px;
        img{
            @include imgw;
        }
    }
    .client__wrapper{
        .client__thumb{
            width: 88px;
            text-align: center;
            margin: 0 auto;
            img{
               @include imgw;
               filter: invert(100%) sepia(13%) saturate(7440%) hue-rotate(215deg) brightness(113%) contrast(115%);
            }
        }
        .owl-dots{
            @include breakpoint(max-xl){
                display: none
            }
        }
    }
}
//--Client Section End--//