.breadcumd__banner{
    .shadow-png {
        position: absolute;
        top: -85%;
        right: -11%;
        @include breakpoint(xl){
            top: -76%;
            right: -5%;
        }
        @include breakpoint(xxl){
            top: -67%;
            right: 0;
        }
        @include breakpoint(max-lg){
            display: none;
        }
    }
    &.shadow{
        .shadow-png {
            position: absolute;
            top: -58%;
            right: -10%;
            @include breakpoint(xl){
                top: -54%;
                right: -5%;
            }
            @include breakpoint(xxl){
                top: -45%;
                right: 0;
            }
            @include breakpoint(max-lg){
                display: none;
            }
        }
    }
}

.contact__section{
    padding:80px 0;
    @include breakpoint(md){
        padding: 100px 0;
    }
    @include breakpoint(lg){
        padding-top: 110px;
        padding-bottom: 120px;
    }
    .left__shape{
        position: absolute;
        top: -54%;
        left: -20%;
        img{
            @include imgw;
        }
        @include breakpoint(max-lg){
           display: none;
        }
        @include breakpoint(xl){
            top: -57%;
            left: -16%;
        }
        @include breakpoint(xxl){
            left: -14%;
        }
        @include breakpoint(xxxl){
            top: -60%;
            left: -7%;
        }
        @include breakpoint(x4l){
            left: 0;
        }
    }
    .sidebar__left{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include breakpoint(sm){
           flex-direction: row;
        }
        @include breakpoint(lg){
            flex-direction: column;
        }
        @include breakpoint(xl){
            gap: 50px;
        }
        .sidebar__items {
            padding: 40px;
            filter: drop-shadow(0px 0px 40px rgba(0, 22, 89, 0.1));
            .shape{
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
            .sidebar__widget{
                h5 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 26px;
                    color: var(--theme);
                    position: relative;
                    &::before{
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        width: 50px;
                        height: 1px;
                        content: "";
                        background-color: var(--theme2);
                    }
                }
                p{
                    a{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 0;
                        color: var(--pra2);
                        font-family: "Open Sans", sans-serif;
                    }
                }
            }
        }
    }
    .contact__right{
        z-index: 1;
        position: relative;
        h2{
            font-weight: 800;
            position: relative;
            &::before{
                position: absolute;
                bottom: -14px;
                left: 0;
                width: 180px;
                height: 1px;
                content: "";
                background-color: var(--theme2);
                @include breakpoint(max-md){
                    width: 110px;
                }
            }
        }
        .form__clt{
            input{
                width: 100%;
                outline: none;
                border: none;
                padding: 20px 0;
                background: transparent;
                color: var(--pra2);
                border-bottom: 1px solid #d9dce4;
                font-size: 13px;
                font-weight: 400;
                @include bodyfont;
                &:focus{
                    border-color: var(--theme2);
                }
            }
        }
        .form__clt__big{
            textarea{
                height: 100px;
                width: 100%;
                outline: none;
                border: none;
                color: var(--pra2);
                border-bottom: 1px solid #d9dce4;
                background-color: transparent;
                font-size: 13px;
                font-weight: 400;
                @include bodyfont;
                &:focus{
                    border-color: var(--theme2);
                }
            }
        }
    }
}

.map-section{
    .grad__shape{
        position: absolute;
        right: 0;
        bottom: -9px;
        z-index: 9999;
        @include breakpoint(xl){
            bottom: -12px;
        }
        @include breakpoint(xxxl){
            bottom: -14px;
        }
        @include breakpoint(x4l){
            bottom: -15px;
        }
        img{
            @include imgw
        }
    }
    #map { 
        height: 600px;
        width: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        @include breakpoint(max-lg){
            height: 400px;
        } 
    }
}
