/* 12. Project */
.project__section{
    padding: 60px 0;
    @include breakpoint(xs){
        padding: 80px 0;
    }
    @include breakpoint(md){
        padding: 100px 0;
    }
    @include breakpoint(lg){
        padding: 120px 0;
    }
    @include breakpoint(xl){
        padding: 150px 0 275px 0;
    }
    background: url(../img/project/bg.png) no-repeat center center;
    background-size: cover;
    background-position: center bottom;
    .section__title{
        &.mb-80{
            margin-bottom: 80px;
            @include breakpoint(max-md){
                margin-bottom: 60px;
            }
        }
    } 
    .right__shape{
        position: absolute;
        top: 0;
        right: 0px;
        bottom: -100px;
        z-index: 1;
        img{
            @include imgw;
        }
        @include breakpoint(max-xl){
            display: none;
        }
    }
    .project__wrapper{
        background: #fff;
        padding: 10px;
        padding-bottom: 1px;
        .owl-nav{
            button{
                background: #252837;
                width: 50px;
                height: 50px;
                position: absolute;
                top: 50%;
                left: -30px;
                transform: translateY(-50%);
                i{
                    color: var(--white);
                }
               @include breakpoint(xxl){
                  left: -55px;
               }
               @include breakpoint(xxxl){
                   left: -70px;
               }
            }
            button.owl-next{
                right: -30px;
                left: auto;
                @include breakpoint(xxl){
                    right:-55px;
                }
                @include breakpoint(xxxl){
                    right: -70px;
                }
            }
         }
    }
    .project__items{
        .project__thumb{
            position: relative;
            img{
                @include imgw;
            }
            &::before{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--theme)));
                background: linear-gradient(to bottom, transparent 0%, var(--theme) 100%);
                content: "";
                z-index: 1;
                transition: all 0.4s ease-in-out !important;
                height: 365px
            }
            .content{
                position: absolute;
                bottom: 35px;
                left: 30px;
                color: var(--white);
                z-index: 99;
            }
        }
        &:hover{
            .project__thumb{
                &::before{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--theme2)));
                    background: linear-gradient(to bottom, transparent 0%, var(--theme2) 100%);
                    content: "";
                    z-index: 1;
                    -webkit-transition: all 0.9s ease;
                    transition: all 0.9s ease;
                    height: 365px
                }
            }
        }
    }
    .owl-carousel .owl-nav.disabled {
        display: block !important;
        @include breakpoint(max-lg){
            display: none !important;
        }
    }
    .owl-theme .owl-dots .owl-dot {
        zoom: 1;
        display: none;
    }
}
//--Project Section End--//
