/* 14. Team */
.team__section{
    position: relative;
    .left__shape{
        position: absolute;
        top: -8px;
        left: 0;
        z-index: -9;
        img{
            @include imgw;
        }
    }
    .g-5, .gx-5 {
        --bs-gutter-x: 3rem;
        @include breakpoint(max-sm){
            --bs-gutter-x: 0;
        }
    }
    .vector__shape{
        position: absolute;
        top: 30%;
        left: -55px;
        @include breakpoint(xxl){
            left: -3%;
        }
        @include breakpoint(xxxl){
            left: 0;
        }
        @include breakpoint(x4l){
            top: 32%;
            left: 8%;
        }
    }
    .section__title{
        .sub{
            color: var(--theme);
        }
    }
    .team__items{
        .team__thumb{
            position: relative;
            img{
                @include imgw;
            }
            .team__content{
                position: absolute;
                bottom: -33px;
                left: 45px;
                right: 0;
                overflow: hidden;
                z-index: 99;
                filter: drop-shadow(6px 6px 7px rgba(0, 22, 89, 0.1));
                .team-name{
                    background-color: var(--white);
                    padding: 35px;
                    clip-path: polygon(0 0, 100% 1%, 100% 75%, 91% 100%, 0 100%, 0% 50%);
                }
                p{
                    color: var(--pra2);
                }
                @include breakpoint(max-lg){
                    clip-path: initial;
                }
            }
            .team__social{
                text-align: center;
                transition: all 0.3s ease 0s;
                position: absolute;
                bottom: 18%;
                left: 45px;
                width: 45px;
                height: 45px;
                line-height: 45px;
                background-color: var(--theme2);
                z-index: 999;
                @include breakpoint(xsmall){
                    bottom:14%;
                }
                @include breakpoint(sm){
                    bottom:15%;
                }
                @include breakpoint(md){
                    bottom:24%;
                }
                @include breakpoint(lg){
                    bottom:25%;
                }
                @include breakpoint(xl){
                    bottom:21%;
                }
                @include breakpoint(xxl){
                    bottom:18%;
                }
                .share__alt{
                    i{
                        color: var(--white);
                        font-size: 16px;
                    }
                }
                li{
                    display: list-item;
                    margin:0;
                    cursor: pointer;
                    a{
                        color: var(--white);
                        display: inline-block;
                        text-align: center;
                        font-size: 16px;
                        position: relative;
                        z-index: 999;
                        width: 45px;
                        height: 45px; 
                        line-height: 45px;
                        @include transition;
                        &:hover{
                            background-color: var(--theme2);
                        }
                        i{
                            font-size: 16px;
                        }
                    }
                }
                ul{
                    opacity: 0;
                    position: absolute;
                    transition: all 0.4s ease-in-out;
                    display: inline-block;
                    left: 45px;
                    bottom: 0;
                    background-color: var(--theme);
                    z-index: 999;
                    @include flex;
                }
            }
            &:hover{
                .team__social{
                    ul{
                        opacity: 1;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
//--Service Section End--//

