/* 10. Testimonial */
.testimonial__section{
    padding: 100px 0 40px 0;
    @include breakpoint(sm){
        padding: 120px 0 60px 0;
    }
    @include breakpoint(lg){
        padding: 120px 0;
    }
    @include breakpoint(xl){
        padding: 140px 0;
    }
    background: url(../img/testimonial/testi-bg-2.png) no-repeat center center;
    background-size: cover;
    .right__shape{
        position: absolute;
        right: 0;
        bottom: 0;
        @include breakpoint(xxxl){
            right: 0;
        }
        @include breakpoint(x4l){
            right: 100px;
        }
        img{    
            width: 95%;
            height: 100%;
            float: right;
            @include breakpoint(mid-xxl){
                width: 70%;
            }
        }
        @include breakpoint(max-md){
           display: none;
        }
    }
    .section__title{
        &.pb-100{
            padding-bottom: 60px;
            @include breakpoint(md){
                padding-bottom: 80px;
            }
            @include breakpoint(lg){
                padding-bottom: 100px;
            }
        }
        .sub{
            color: var(--theme);
            &::before{
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .testi__wrapper{
        .testi-single{
            filter: drop-shadow(6px 6px 7px rgb(0, 22, 89, 0.1));
            padding-bottom: 20px;
            .testi__items{
                clip-path: polygon(100% 0, 100% 80%, 82% 100%, 0 100%, 0 0);
                padding-top: 20px;
                .testi__inner{
                    background-color: var(--white);
                    position: relative;
                    padding: 30px;
                    @include breakpoint(xsmall){
                        padding: 60px;
                    }
                    @include breakpoint(md){
                        padding: 30px;
                    }
                    @include breakpoint(lg){
                        padding: 60px;
                    }
                    p{
                        font-size: 19px;
                    }
                    
                }
                &::before{
                    position: absolute;
                    top: 0;
                    left: 25px;
                    width: 88%;
                    height: 100%;
                    content: "";
                    background-color: #f6f8f9;
                } 
                .testi__icon{
                    i{
                        font-size: 40px;
                        color: var(--theme2);
                    }
                }
                .testi__wrap{
                    gap: 18px;
                    .testi__thumb{
                        border-left: 5px solid var(--theme2) ;
                    }
                    .testi__content{
                        position: relative;
                        margin-top: 20px;
                        &::before{
                            position: absolute;
                            top: -10px;
                            left: 0;
                            content: "";
                            width: 45px;
                            height: 1px;
                            background-color: #d9dce4;
                        }
                        p{
                            font-size: 15px;
                            color: var(--pra2);
                            @include breakpoint(max-sm){
                               font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .owl-dots{
            @include breakpoint(max-xxl){
                display: none
            }
        }
    }
}
.testi__style__two{
    background: url(../img/testimonial/bg.jpg) no-repeat center center;
    background-size: cover;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgb(9, 7, 58);
        opacity: 0.859;
    }
    .right__shape{
        position: absolute;
        right: -88px;
        top: -250px;
    }
    .section__title{
        position: relative;
        .sub{
            color: var(--white);
            &::before{
                left: initial;
                transform: initial;
                width: 110px;
            }
        }
    }
    .testi__item{
        .testi__content{
            h5{
                color: var(--white);
                font-weight: 400;
                line-height: 150%;
                margin-bottom: 40px;
                span{
                    color: var(--theme2)
                }
                @include breakpoint(max-xl){
                    font-size: 16px;
                }
                @include breakpoint(max-lg){
                    font-size: 16px;
                }
                @include breakpoint(max-sm){
                    font-size: 14px;
                }
            }
            ul{
                li{
                    color: #ffbf00;
                }
            }
        }
    }
    .testi__thumb{
        img{
            @include imgw;
        }
    }
    .testi-active{
        .slick-dots{
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            gap: 10px;
            li{
                button{
                    width: 12px;
                    height: 12px;
                    border-radius: 100px;
                    transition: 0.6s;
                    border:1px solid var(--white);
                    font-size: 0;
                    background-color: transparent;
                    opacity: 1;
                }
                &.slick-active button{
                    background-color: var(--theme2);
                    border:1px solid var(--theme2);
                    transition: 0.6s;
                }
            } 
        }
        
    }
}
//--Testmonial Section End--//

    