


:root {
    --body: #fff;
    --white: #ffffff;
    --pra: #61708b;
    --pra2: #565969;
    --theme: #001659;
    --theme2: #ff5e14;
    --ratting: #FFBE57;
    --hover: #fff;
    --border: #3b4a7b;
    --viewbox: #343839;
    --subtitle: #222E48;
    --placeholder: #B2B6BF;
}