@font-face {
  font-family: 'FinestIcon';
  src:  url('../webfonts/FinestIcon.eot?waqkbq');
  src:  url('../webfonts/FinestIcon.eot?waqkbq#iefix') format('embedded-opentype'),
    url('../webfonts/FinestIcon.ttf?waqkbq') format('truetype'),
    url('../webfonts/FinestIcon.woff?waqkbq') format('woff'),
    url('../webfonts/FinestIcon.svg?waqkbq#FinestIcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FinestIcon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-arrow-left:before {
  content: "\e900";
}
.fi-arrow-right:before {
  content: "\e901";
}
.fi-arrow-up-right:before {
  content: "\e902";
}
.fi-bar:before {
  content: "\e903";
}
.fi-building:before {
  content: "\e904";
}
.fi-check:before {
  content: "\e905";
}
.fi-chevron-down:before {
  content: "\e906";
}
.fi-chevron-left:before {
  content: "\e907";
}
.fi-chevron-right:before {
  content: "\e908";
}
.fi-chevron-up:before {
  content: "\e909";
}
.fi-close:before {
  content: "\e90a";
}
.fi-commercial:before {
  content: "\e90b";
}
.fi-construction-cart:before {
  content: "\e90c";
}
.fi-construction-hook:before {
  content: "\e90d";
}
.fi-construction-industry:before {
  content: "\e90e";
}
.fi-construction-paint:before {
  content: "\e90f";
}
.fi-construction-pencil:before {
  content: "\e910";
}
.fi-construction-user:before {
  content: "\e911";
}
.fi-construction-wall:before {
  content: "\e912";
}
.fi-edit:before {
  content: "\e913";
}
.fi-email:before {
  content: "\e914";
}
.fi-facebook:before {
  content: "\e915";
}
.fi-heart:before {
  content: "\e916";
}
.fi-home:before {
  content: "\e917";
}
.fi-home-map:before {
  content: "\e918";
}
.fi-home-star:before {
  content: "\e919";
}
.fi-instagram:before {
  content: "\e91a";
}
.fi-linkedin:before {
  content: "\e91b";
}
.fi-map-pin:before {
  content: "\e91c";
}
.fi-menu:before {
  content: "\e91d";
}
.fi-minus:before {
  content: "\e91e";
}
.fi-park:before {
  content: "\e91f";
}
.fi-park-2:before {
  content: "\e920";
}
.fi-phone-incoming:before {
  content: "\e921";
}
.fi-play:before {
  content: "\e922";
}
.fi-plus:before {
  content: "\e923";
}
.fi-print:before {
  content: "\e924";
}
.fi-quote-fill:before {
  content: "\e925";
}
.fi-save:before {
  content: "\e926";
}
.fi-search:before {
  content: "\e927";
}
.fi-search-home:before {
  content: "\e928";
}
.fi-send:before {
  content: "\e929";
}
.fi-settings:before {
  content: "\e92a";
}
.fi-share:before {
  content: "\e92b";
}
.fi-shop:before {
  content: "\e92c";
}
.fi-star:before {
  content: "\e92d";
}
.fi-star-fill:before {
  content: "\e92e";
}
.fi-twitter:before {
  content: "\e92f";
}
.fi-user:before {
  content: "\e930";
}
.fi-x:before {
  content: "\e931";
}
.fi-youtube:before {
  content: "\e932";
}
